@model List<Dominio.Pasaje>

@{
    ViewData["Title"] = "Mis Pasajes";
}

<h2>Mis Pasajes</h2>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">
        No tenés pasajes comprados.
    </div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Número de Vuelo</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha</th>
                <th>Equipaje</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pasaje in Model)
            {
                <tr>
                    <td>@pasaje.IdPasaje</td>
                    <td>@pasaje.Vuelo.NumeroVuelo</td>
                    <td>@pasaje.Vuelo.Ruta.AeropuertoSalida.Ciudad</td>
                    <td>@pasaje.Vuelo.Ruta.AeropuertoEntrada.Ciudad</td>
                    <td>@pasaje.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@pasaje.TipoEquipaje</td>
                    <td>$@pasaje.Precio</td>@*ver porque mierdas no funciona esta lineaaaaaaa, siempre retorna 0*@
                </tr>
            }
        </tbody>
    </table>
}
